*{
    font-family: 'PT Sans', sans-serif;
    padding:0;
    margin:0;
}
body{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://raw.githubusercontent.com/santhasarooban/survey_form/main/BV-Acharya-51.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#title {
    text-align: center;
    margin-top:3cm;
    line-height:1cm;
    color:white;
    font-weight: bold;
    font-size:50px;
}

#description{
    text-align: center;
    color:white;
    line-height:4cm;
    font-size: 20px;
    font-style: oblique;
    border-bottom:1px solid white;
}

/* added new div */

.div-doc{
    display: flex;
    text-align: center;
    justify-content: center;
}

#doc{
    color:white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 1rem;
    font-weight: bold;
    background-color: white;
    color:black;
    width:800px; 

}

#doc:hover{
    color:white;
    background-color:black;
}
/*survey division*/

#survey-form{
    margin-left:35%;
    color:white;
    border-width:800px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-bottom:1px solid azure;
}
#name{
    width:250px;
    height:50px;
    background:transparent;
    border:none;
    font-size: 16px;
    color:white;
    margin-left:50px;
    border-bottom:1px solid white;
    line-height:10cm;
}

#email{
    width:200px;
    height:50px;
    background:transparent;
    border:none;
    border-bottom:1px solid white;
    font-size: 16px;
    color:white;
    margin-left:50px;
    line-height:10cm;
}
#number{
    width:170px;
    height:50px;
    background:transparent;
    border:none;
    font-size: 16px;
    color:white;
    margin-left:50px;
    border-bottom:1px solid white;
    line-height:10cm;
}

#dropdown{
    width:100px;
    height:50px;
    background:transparent;
    border:none;
    border-bottom:1px solid white;
    font-size: 16px;
    color:white;
    margin-left:50px;
    line-height:10cm;
}

#no{
    width:300px;
    height:50px;
    background:transparent;
    border:none;
    border-bottom:1px solid white;
    font-size: 16px;
    color:white;
    margin-left:50px;
    line-height:10cm;
}

#no-h{
    font-size:25px;
}

#check , #radio{
    font-size: 25px;
    margin-left:3%;
}

#text-area{
    width:300px;
    height:80px;
    word-wrap:break-word;
    background:transparent;
    font-size: 20px;
    color:white;
}

#submit{
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;    
    text-shadow:none;
    cursor: pointer;
}

#submit:hover{
    background:rgba(125, 95, 255,1.0);
    animation-duration: 3s;
}

/* device in btwn 451px - 676px*/
@media only screen and (min-width: 451px) and (max-width: 676px) {

    label ,p {
        font-size: 20px;
        margin-left: -100px;
    }

    #title {
        margin-top:60px;
        font-size:30px;
    }

    /*survey*/
    #survey-form{
        font-size: 1rem;  
    }
    #radio , #check{
        font-size: 1.2rem;
    }

    #name{
        font-size: 1rem;
        width: auto;
    }

}

/*  For mobile screen */
@media only screen and (max-width: 450px){
    label ,p {
        font-size: 20px;
        margin-left: -100px;
    }

    #title {
        margin-top:50px;
        font-size:20px;
    }

    #survey-form{
        font-size: 10px; 
    }
    #radio , #check{
        font-size: 1.2rem;
    }

    #name{
        font-size: 1rem;
        width: auto;
    }

    #description{
        font-size: 15px;
        margin-left: 0px;
    }
    #no{
        width:150px;
        font-size: 1rem;
        height: 50px;

    }
    #email{
        width:auto;
    }
    #text-area{
        background: #000;
        width: 70%;
    }
}